.tab {
  &__list {
    &--item {
      cursor: pointer;
      background-color: #fff;
      border: none;
      padding: 10px;
      border-radius: 3px;
      transition: all 0.3s ease;
      margin: 5px 10px;
      color: #303B42;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        background-color: rgb(133, 177, 204, 1);
        color: #fff
      }
    }

    &--active{
      background-color: rgb(133, 177, 204, 1);
      color: #fff;
    }
  }
}