.card__skeleton {
  height: 395px;
  border-radius: 30px;

  &--media {
    height: 200px;
  }

  &--details {
    padding: 1.5rem;
  }

  &--inner{
    margin-bottom: 1rem;
    
    &:first-child{
      min-height: 60px;
    }
  }
}